src/main/mule/githubexample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="6141d558-5108-4679-bce1-b486712ba7cd" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="githubexampleFlow" doc:id="b798e755-1ee6-4ef8-bd45-4443299ad439" >
		<http:listener doc:name="Listener" doc:id="441b35cf-3bb0-4593-b6b7-f06498123925" config-ref="HTTP_Listener_config" path="/githubexample"/>
		<logger level="INFO" doc:name="Logger" doc:id="f43207b4-20f3-4d5d-a810-9435acf2f3ac" message="request recived.."/>
		<set-payload value='#["hello"]' doc:name="Set Payload" doc:id="64311ef1-25df-4d0f-a891-28260900c06f" />
		<logger level="INFO" doc:name="Logger" doc:id="58bbb24e-7c5a-4851-947b-2a1446e079a2" message="finally don egithub successfully......"/>
	</flow>
</mule>
